@import url('./__title/comments__title.css');
@import url('./__subtitle/comments__subtitle.css');
@import url('./__container/comments__container.css');

.comments {
    width: 1184px;
    height: 594px;
    margin: 0 auto 92px;
}