.title {
    width: 782px;
    height: 184px;
    text-align: center;
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 92px;
    margin: 0 0 37px 0;
}