.trav-to-rus__subtitle {
    width: 583px;
    height: 65px;
    text-align: center;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 78px 0;
}